<div id="starter" ng-init="cronapi.client('js.blockly.maps.PostosMapa.desenharMapa').run()" ng-destroy="" data-component="crn-start" screen-params="">
  <ion-view class="pane"> 
    <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar"> 
      <div class="buttons buttons-left header-item"> 
        <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
      </div> 
      <h1 class="title">Postos com menor custo/km</h1> 
      <div class="buttons buttons-right header-item"> 
      </div> 
    </ion-header-bar> 
    <ion-content data-component="crn-ion-content" class="scroll-content has-header"> 
      <div class="component-holder ng-binding ng-scope style969" data-component="crn-google-maps" id="crn-google-maps-344228">
        <div id="map9628" token="AIzaSyBI_Tv8p2fOXPunrSqmTWnhjt5j4PVDLHM" style="height: 100vh;" class=""></div>
      </div>
    </ion-content> 
  </ion-view>
</div>